{% extends 'base.html' %}

{% block title %}
  <title>Articles</title>
{% endblock %}

{% block content %}
  <h1>Articles</h1>
  <ul>
  {% for article in articles %}
      <li>{{ article.created }} - {{ article.title }} - {{article.tags}}</li>
  {% empty %}
      <li>No articles yet.</li>
  {% endfor %}
  </ul>
{% endblock %}
