{% load staticfiles %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="en" style="height:100%">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    {% block title %}
    <title>Home</title>
    {% endblock %}

    <!-- Bootstrap -->
    <!--<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-grid.min.css' %}">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<style> a.navLink {color: #F0BA37 !important; }</style>
  </head>
  <body style="height: 100vh !important">
    <div class="container" style="height: 100vh !important">
      <nav class="navbar navbar-default">
        <div class="container-fluid" style="background-color: #3B5D33">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a  class="navLink navbar-brand " href="/">Ed's</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              {% if request.user.is_authenticated %}
              <li><a class="navLink" href="/">Home</a></li>
              <li><a class="navLink" href="/order">Order</a></li>
              <li><a class="navLink" href="/past_orders">Past Orders</a></li>
              {% endif %}
              {% if request.user|has_group:"Employees" %}
              <li><a class="navLink" href="/inventory/">Inventory</a></li>
              <li><a class="navLink" href="/order_queue/">Order Queue</a></li>
              {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {% if request.user.is_authenticated %}
              <li><a class="navLink" href="/logout/">Log Out</a></li>
              <li><a class="navLink" href="/profile_edit/{{request.user.id}}">Profile</a></li>
              {% else %}
              <li><a class="navLink" href="/login/">Log In</a></li>
              <li><a class="navLink" href="/signup/">Sign Up</a></li>
              {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <div class="content">
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{% if message.tags == 'error' %}danger{% elif messages.tags == 'debug' %}info{% else %}{{message.tags}}{% endif %}">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{message}}
          </div>
          {% endfor %}
        {% endif %}
      </div>


      <!-- Jumbotron -->
      <div class="content" id="content">
        {% block content %}
        <h1>Navbar Example</h1>
        {% endblock %}
      </div>

      <!-- Site footer 
      <footer class="footer">
        <p>&copy; Ed's Eatery.</p>
      </footer>-->

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="{% static 'jquery/jquery.min.js' %}"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
