{% extends 'base.html' %}

{% block title %}
<title>Profile: {{user.username}}</title>
{% endblock %}

{% block content %}
<h2>Edit Profile</h2>
<div class="container col-xs-12">
  <div class="col-xs-4">
  <form method="post">{% csrf_token %}
  <label for="username">Username</label>
  <h4 id="username">{{user.username}}</h4>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input class="form-control" name="first_name" id="firstName">
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input class="form-control" name="last_name" id="lastName">
  </div>
  <div class="form-group">
    <label for="phoneNumber">Phone Number</label>
    <input class="form-control" name="phone_number" id="phoneNumber">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</div>
{% endblock %}
