{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_tags %}

{% block title %}
<title>Ed's Homepage</title>
{% endblock %}

{% block content %}
<div style="text-align: center;">
	<h1>Ed's Eatery</h1>
	<div style="font-size:200%;">
		<p>Welcome to the Ed's app, easy online tool to help you order! </p>
	</div>
</div>

	<!--<div id="myCarousel" class="carousel slide col-xs-6" style="text-align: center" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active">
      <img src="{% static 'admin/img/EdsLogo.png' %}">
    </div>

    <div class="item">
      <img src="{% static 'admin/img/EdsLogo.png' %}">
    </div>

    <div class="item">
      <img src="{% static 'admin/img/EdsLogo.png' %}">
    </div>
  </div>

  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>-->
	<!--<img src="{% static 'admin/img/EdsLogo.png' %}">-->
</div>
	{% if request.user.is_authenticated %}
	<div class="col-xs-12">
		{% if orders %}
		<div style="text-align: center">
			<h2>Current orders</h2>
		</div>
		{% endif %}
		<ul class="list-group">
		{% for order in orders %}
			<li class="list-group-item container clearfix col-sm-12
				{% if order.status == "preparing" %}list-group-item-warning
				{% elif order.status == "ready" %}list-group-item-success
				{% else %}list-group-item-danger
				{% endif %} ">
				<div class="col-xs-6">
					<ul class="list-group">
						{% for item in items %}
						{% if item.order == order %}
							<li href="#" class="list-group-item">
								{{item.item.name}}
								<span class="badge badge-default badge-pill">{{item.quantity}}</span>
							</li>
						{% endif %}
						{% endfor %}
					</ul>
				</div>
				<div class="col-xs-4">
					<h4>Status: {{order.status}}</h4>
				</div>
				<div class="col-xs-4">
					<h4>Total: ${{order.total}}</h4>
				</div>
			</li>
			{% empty %}
			<h4 style="text-align: center">Click on the <a href="/order/">Orders</a> tab to place an order, or quickly place a past order in the <a href="/past_orders">Past Orders</a> tab</h4>
			{% endfor %}
		</ul>
</div>
{% endif %}
{% endblock %}
{% block scripts %}
{% if request.user.is_authenticated %}
<script>
	socket = new WebSocket("ws://" + window.location.host + "/orders/");
	socket.onmessage = function(e) {
		if (e.data == {{ user.id }}){
			location.reload();
		} 
		{% if request.user|has_group:"Employees" %}
		else {
			alert("new order placed!")
		}
		{% endif %}

	}
</script>
{% endif %}
{% endblock %}
