{% extends 'base.html' %}

{% block title %}
  <title>Inventory</title>
{% endblock %}

{% block content %}
<div class="container">
  <div class="col-xs-6">
    <h1 style="text-align:center">In Stock</h1>
    <div class="pre-scrollable">
      <ul class="list-group">
      {% for item in items %}
        {% if item.inStock %}
          <li class="list-group-item clearfix">
            <div class="container col-xs-12">
              <div class="col-xs-11">
                {{ item.name }}
              </div>

              <div class="col-xs-1">
              <form method="post">{% csrf_token %}
                <input name="itemName" value="{{item.name}}" style="display:none">
                <button type="submit" class="btn btn-default">
                  <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
              </form>
            </div>
          </div>
            </li>
        {% endif %}
      {% empty %}
          <p>None</p>
      {% endfor %}
      </ul>
    </div>
  </div>
  <div class="col-xs-6">
    <h1 style="text-align:center">Out of Stock</h1>
    <div class="pre-scrollable">
      <ul class="list-group">
      {% for item in items %}
        {% if not item.inStock %}
          <li class="list-group-item clearfix">
          <div class="container col-xs-12">
            <div class="col-xs-11">
              {{ item.name }}
            </div>

            <div class="col-xs-1">
            <form method="post">{% csrf_token %}
              <input name="itemName" value="{{item.name}}" style="display:none">
              <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span>
              </button>
            </form>
          </div>
        </div>
        </li>
        {% endif %}
      {% empty %}
          <p>None</p>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script>
	socket = new WebSocket("ws://" + window.location.host + "/items/");
	socket.onmessage = function(e) {
		location.reload();
	}
</script>
{% endblock %}
