{% extends 'base.html' %}

{% block title %}
  <title>Order</title>
{% endblock %}

{% block content %}
<div class="container">
  <div class="col-xs-6">
    <h1 style="text-align:center">Menu</h1>
    <div class="pre-scrollable">
      <ul class="list-group">
      {% for item in menu %}
            <li class="list-group-item clearfix">
              <div class="container col-sm-12">
              <div class="col-sm-9">
                  <h5>{{ item.name }}</h5>
              </div>
              <div class="col-sm-2">
                <p>${{ item.price }}</p>
              </div>

              {% if request.user.is_authenticated %}
              <div class="col-sm-1">
              <form method="post">{% csrf_token %}
                <input name="itemName" value="{{item.name}}" style="display:none">
                <input name="action" value="add" style="display:none">
                <button type="submit" class="btn btn-default">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </form>
            </div>
            {% endif %}
          </div>
            </li>
      {% empty %}
          <h4 style="text-align: center">Nothing in stock :(</h4>
      {% endfor %}
      </ul>
    </div>
  </div>
  <div class="col-xs-6">
    <h1 style="text-align:center">Order</h1>
    {% if request.user.is_authenticated %}
    <ul class="list-group">
      {% for item in items %}
      <li class="list-group-item clearfix">
        <div class="container col-sm-12">
          <div class="col-sm-7">
            {{ item.item.name }}
          </div>
          <div class="col-sm-3">
            <p class="text-muted">Qty: <span class="label label-default">{{ item.quantity }}</span></p>
          </div>
          <div class="col-sm-1" style="padding-right: 10px">
          <form method="post">{% csrf_token %}
            <input name="itemName" value="{{item.item.name}}" style="display:none">
            <input name="action" value="add" style="display:none">
            <button type="submit" class="btn btn-default">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </form>
        </div>

        <div class="col-sm-1">
        <form method="post">{% csrf_token %}
          <input name="itemName" value="{{item.item.name}}" style="display:none">
          <input name="action" value="remove" style="display:none">
          <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-minus"></span>
          </button>
        </form>
      </div>
    </div>
      </li>
      {% empty %}
        <h4 style="text-align: center">Click the <span class="glyphicon glyphicon-plus"></span> on an item to add it to your cart!</h4>
      {% endfor %}
    </ul>
    {% if items %}
    <div class="col-sm-12">
      <div class="col-sm-6">
      <h5 class="lead">Total: ${{order.total}}</h5>
    </div>
    <div class="text-right">
      <form method="post" id="order_form">{% csrf_token %}
        <input name="total" value="{{order.total}}" style="display:none">
        <input name="action" value="order" style="display:none">
        <a id="order_form_submit" class="btn btn-primary">
          Place Order
        </a>
      </form>
    </div>
  </div>
  {% endif %}
  </div>
  {% else %}
    <h4 style="text-align: center">Please login or signup to place an order!</h4>
    <a class="btn btn-primary" href="/login/">Log In</a>
    <a class="btn btn-primary" href="/signup/">Sign Up</a>
  {% endif %}
</div>
{% endblock %}
{% block scripts %}
<script>
	$('#order_form_submit').click(function () {
	    var name = prompt("Enter a name for this order so that it can be quickly identified in the future!","order{{order.id}}");
	    if (name){
	      new_el = document.createElement("input")
	      new_el.setAttribute("name", "orderName")
	      new_el.setAttribute("value", name)
	      $('#order_form').append(new_el);
	      $('#order_form').submit();
	    }
	  });

	socket = new WebSocket("ws://" + window.location.host + "/items/");
	socket.onmessage = function(e) {
		location.reload();
	}
</script>
{% endblock %}
