{% extends 'base.html' %}

{% block title %}
  <title>Order Queue</title>
{% endblock %}

{% block content %}
<div class="container">
    <h1 style="text-align:center">Current Orders</h1>
    <ul class="list-group">
    {% for order in orders %}
        {% if order.status == "preparing" %}
          <li class="list-group-item container list-group-item-warning">
        {% elif order.status == "placed" %}
          <li class="list-group-item container list-group-item-danger">
        {% elif order.status == "ready" %}
          <li class="list-group-item container list-group-item-success">
        {% endif %}
            <div class="text-left col-sm-1">
              <h4>{{order.user}}</h4>
            </div>
            <div class="col-sm-4">
              <ul>
                {% for item in items %}
                {% if item.order.id == order.id %}
                <a href="#" class="list-group-item">{{item.item.name}}
                  <span class="badge badge-default badge-pill">{{item.quantity}}</span>
                </a>
                {% endif %}
                {% endfor %}
            </ul>

            </div>
            <div>
              <h5>Total: ${{order.total}}</h5>
            </div>
            <div>
              <h5>Status: {{order.status}}</h5>
            </div>
              <div class="text-right">
                  <form method="post" style="display:inline-block">{% csrf_token %}
                    <input name="orderId" value="{{order.id}}" style="display:none">
                    {% if order.status == "placed" %}
                    <input name="action" value="start" style="display:none">
                    <button type="submit" class="btn btn-success">Start</button>
                    {% elif order.status == "preparing" %}
                    <input name="action" value="ready" style="display:none">
                    <button type="submit" class="btn btn-success">Ready</button>
                    {% elif order.status == "ready" %}
                    <input name="action" value="finish" style="display:none">
                    <button type="submit" class="btn btn-success">Finish</button>
                    {% endif %}
                  </form>
                  {% if order.status != "ready" %}
                  <form method="post" style="display:inline-block">{% csrf_token %}
                    <input name="action" value="clear" style="display:none">
                    <input name="orderId" value="{{order.id}}" style="display:none">
                    <button type="submit" onclick="return confirm('Are you sure you want to clear this order?')" class="btn btn-danger">Clear</button>
                  </form>
                  {% endif %}
              </div>
          </li>
    {% empty %}
    <div style="height: 300px; padding-top: 100px">
        <h4 style="text-align: center">There are no current orders</h4>
    </div>
    {% endfor %}
    </ul>
</div>
{% endblock %}
{% block scripts %}
<script>
	socket = new WebSocket("ws://" + window.location.host + "/orders/");
	socket.onmessage = function(e) {
		if (e.data == {{ user.id }}){
			location.reload();
		}
	}
</script>
{% endblock %}
