{% extends 'base.html' %}
{% load custom_tags %}

{% block title %}
  <title>Your Orders</title>
{% endblock %}

{% block content %}
<div class="container">
  {% if orders %}
  <div class="col-xs-6">
    <h2 style="text-align:center; padding-bottom: 20px">Your Most Common Orders</h2>
    <ul class="list-group">
      {% for most in most_common %}
      <li class="list-group-item clearfix">
        <div class="col-sm-12 container" style="padding-left: 0">
	  <div class="col-sm-12"><p><b>{{ most.name }}</b></p></div>
          <div class="col-sm-8">
            <ul style="padding-left: 0">
              {% for item in items %}
              {% if item.order.id == most.id %}
              <li class="list-group-item">{{item.item.name}}
                <span class="badge badge-default badge-pill">{{item.quantity}}</span>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div class="col-sm-4">
            <h5>Total: ${{most.total}}</h5>
          </div>
          <div class="col-xs-4">
            <form method="post">{% csrf_token %}
            <input name="orderid" value="{{most.id}}" style="display:none">
            <input name="total" value="{{most.total}}" style="display:none">
            <input name="action" value="order" style="display:none">
            <button type="submit" class="btn btn-primary">Quick Order</button>
            </form>
          </div>
	</div>
      </li>
      {% endfor %}
    </ul>
  </div>
<div class="col-xs-6">
  <h2 style="text-align:center">Your Past Orders</h2>
  <div class="pre-scrollable">
    <form method="post">{% csrf_token %}
      <input name="action" value="remove_all" style="display:none">
      <button style="background:none!important; border:none" type="submit" onclick="return confirm('Are you sure you want to remove all orders?')">Remove all</button>
    </form>
    <ul class="list-group">
      {% for order in orders %}
        {% if order.status == "completed" %}
          <li class="list-group-item clearfix">
            <div class="col-sm-12 container" style="padding-left: 0">
	      <div class="col-sm-12"><p><b>{{ order.name }}</b></p></div>
              <div class="col-sm-8">
    		<ul style="padding-left: 0">
                  {% for item in items %}
                  {% if item.order.id == order.id %}
                  <li class="list-group-item">{{item.item.name}}
                    <span class="badge badge-default badge-pill">{{item.quantity}}</span>
                  </li>
                  {% endif %}
                  {% endfor %}
                </ul>
              </div>
              <div class="col-sm-4">
                <h5>Total: ${{order.total}}</h5>
              </div>
              <div class="col-sm-4 pull-right">
                <form method="post">{% csrf_token %}
                  <input name="orderid" value="{{order.id}}" style="display:none">
                  <input name="action" value="order" style="display:none">
                  <button type="submit" class="btn btn-primary">Quick Order</button>
                </form>
                <form method="post">{% csrf_token %}
                  <input name="orderid" value="{{order.id}}" style="display:none">
                  <input name="action" value="remove" style="display:none">
                  <button type="submit" onclick="return confirm('Are you sure you want to remove this order?')" class="btn btn-danger">Remove</button>
                </form>
              </div>
            </div>
          </li>
        {% endif %}
      {% empty %}
        <div style="height: 300px; padding-top: 100px">
          <h4 style="text-align: center">There are no past orders</h4>
        </div>
      {% endfor %}
    </ul>
  </div>
</div>
{% else %}
<h2 style="text-align: center">Visit the Orders tab to place an order!</h2>
<h5 style="text-align: center">Your previous orders will show up here after they've been completed</h5>
{% endif %}
</div>
{% endblock %}
{% block scripts %}
{% if request.user.is_authenticated %}
<script>
	socket = new WebSocket("ws://" + window.location.host + "/orders/");
	socket.onmessage = function(e) {
		if (e.data == {{ user.id }}){
			location.reload();
		} 
		{% if request.user|has_group:"Employees" %}
		else {
			alert("new order placed!")
		}
		{% endif %}

	}
</script>
{% endif %}
{% endblock %}
