{% extends 'base.html' %}

{% block content %}
<h2>{{ user.username }}: Edit Profile</h2>
{{ form.non_field_errors }}
  <div class="form-group row">
      {{ form.first_name.errors }}
      <label for="{{ form.first_name.id_for_label }}">First Name:</label>
      {{ form.first_name }}
  </div>
  <div class="form-group row">
      {{ form.last_name.errors }}
      <label for="{{ form.last_name.id_for_label }}">Last Name:</label>
      {{ form.last_name }}
  </div>
  <div class="form-group row">
      {{ form.email.errors }}
      <label for="{{ form.email.id_for_label }}">Your email address:</label>
      {{ form.email }}
  </div>
  <div class="form-group row">
      {{ form.phone_number.errors }}
      <label for="{{ form.phone_number.id_for_label }}">Phone Number:</label>
      {{ form.phone_number }}
  </div>
  <!--<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Update</button>
  </form>-->
{% endblock %}
